
body {
    font-family: 'Poppins', sans-serif;
}
#h-color {
    color:red;
}
.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
}
.content-flex {
    display: flex;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 100%;

}