
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#h-color {
    color:red;
}
.link-button {
    text-decoration: none;
    background-color: aqua;
    padding: 10px 40px;
    margin-left: 30px;
    
}
.content-flex {
    display: flex;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 100%;

}
h1 {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 30px;
}
.subtitle-size {
    margin: 20px 20px;
    padding: 20px 10px;
   
}
#para-size {
    text-align: justify;
}

#sec-sub {
    width: 50%;
    height: 50%;
    margin-left: 150px;
    padding-left: 200px;
    
}
#section-top {
    margin-top: 50px;
}
#second-image {
    height: 500px;
    width: 450px;
}
#second-link-size {
    margin-top: 30px;
}
#second-div-two {
    float: right;
}
.line-align {
    margin: 60px;
    padding: 2px;
    text-align: justify;
}
#margin-top {
    margin-top:px;
}
.experience-item {
    box-shadow: 10px 10px 160px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    
}
#experience-border-one {
    border-left: 5px solid orange;
}
#experience-border-two {
    border-left: 5px solid blue;
}
footer {
    margin: 50px;
    text-align: center;
    text-decoration: underline 2px blue;
    color: brown;
}